body {
    background-color: darkgray;
}


.container {
    background-color :red;
    
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    
}
section {
    width: 50%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

section.main.left{
    background-color: orange;
}
section.main.right  {
    background-color: royalblue;
}

section.sub.bottom{
    height: 30%;
    width: 100%;
}

section.sub.bottom p {
    font-size: 5rem;
    font-style: var(test);
    margin: auto;
}

button {
    margin: auto;
    width: 80%;
    height: 90%;
    font-size: 500%;
    border-radius: 2rem;
    cursor:pointer;   
    background-color: inherit;
}
button:hover{
    filter: brightness(90%);   
}
button:active{
    filter:brightness(100%);
}